:root {
  --jet-black: #30343fff;
  --ghost-white: #fafaffff;
  --periwinkle: #e4d9ffff;
  --twilight-indigo: #273469ff;
  --space-indigo: #1e2749ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--ghost-white);
  color: var(--jet-black);
}

